<ion-item id="item-container">
  <ion-item *ngFor="let day of weekData;let i = index" style="border: lightgrey solid 2px;">
    <ion-list lines="full">
      <ion-item>
       <div> {{day.date[5]}}{{day.date[6]}}{{day.date[7]}}{{day.date[8]}}{{day.date[9]}}</div>
      </ion-item>
      <ion-item>
        <img [src]="day.day.condition.icon" alt="condition" width="50px">
        {{day.day.condition.text}}
      </ion-item>
      <ion-item>
        {{day.day.avgtemp_c}}
      </ion-item>
      <ion-item>
        <ion-icon name="water"></ion-icon>
        {{day.day.daily_chance_of_rain}}%
      </ion-item>
    </ion-list>
  </ion-item>
</ion-item>

