#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-col {
  display: flex;
  justify-content: center;
  text-align: center;

  background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
}

ion-row {
  border: solid 1px grey;
  height: 33.3vh;
}

#weekly {
  margin: auto;
  align-self: center;
  height:auto;
}

ion-row.weekly > ion-col{
  color: black;
  background-color: beige;
  border: solid 1px grey;
}

ion-item{
  justify-content: right;
  background: transparent;
 }

ion-list{
  background: transparent;
 }